[submodule "thirdparty/asio_net"]
	path = thirdparty/asio_net
	url = git@github.com:shuai132/asio_net.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = git@github.com:epezent/implot.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = git@github.com:chriskohlhoff/asio.git
