.chart-view {
    display: flex;
    height: 280px;
}

.ui-setting-div {
    display: flex;
    align-items: center;
    height: 70px;
    width: 280px;
}

.ui-setting-input {
    width: 150px;
}

.ui-setting-span {
    width: 1px;
}

.ui-setting-input-path {
    width: 198px;
}

.ui-setting-button {
}
